// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.813rem;
$line-height-base: 1.6;

//Colors
$red: #EB1414;
$blue: #0054AB;
$black: #09132E;
$light: #F7F7F7;

$brand-danger: $blue;

$footer-comisaria: #007328;
$footer-bg: #001C41;
$footer-txt: #FFFFFF;

